/* Space out content a bit */
body, form, ul, table {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Phoenix flash messages */
.alert:empty { display: none; }

/* Logo */
.logo {
  width: 135px;
  height: 53px;
  display: inline-block;
  background-image: url("/images/logo.png");
  background-size: 135px 53px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

/* Space out the masthead */
.header {
  margin-bottom: 30px;
}

/* Centering class */
.center {
  text-align: center;
}
