<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A companion application for NurseConnect">
    <meta name="author" content="Praekelt.org">

    <title>NurseConnect Companion</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
          <a class="navbar-brand logo" href="/"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link <%= if @conn.request_path == application_path @conn, :index do %>active<% end %>" href="<%= application_path @conn, :index %>">Applications</a>
            </div>
            <div class="navbar-nav">
              <a class="nav-item nav-link <%= if @conn.request_path == opt_out_path @conn, :index do %>active<% end %>" href="<%= opt_out_path @conn, :index %>">Opt Outs</a>
            </div>
            <div class="navbar-nav">
              <a class="nav-item nav-link <%= if @conn.request_path == flow_generator_path @conn, :index do %>active<% end %>" href="<%= flow_generator_path @conn, :index %>">Flow Generator</a>
            </div>
            <%= if @user do %>
            <div class="navbar-nav ml-auto">
              <a class="nav-item nav-link" href="<%= auth_path @conn, :logout %>">Logout</a>
            </div>
            <% end %>
          </div>
        </nav>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
